//COLORS
$primary-color: #4b7c94;
$primary-color-dark: #245172;
$white-color: #fff;
$black-color: #333;
$grey-color: #777;
$light-grey-1-color: #f7f7f7;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$grid-gap: 4rem;