*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
  color: #878;
  box-sizing: border-box;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-.1rem);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
}