.btn {

  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.8rem;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-.1rem);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
  }
}