.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //For button
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($black-color, .2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
  }

  &--blue {
    background-color: $primary-color;
    color: $white-color;
    animation: moveInBottom .5s ease-in-out .5s;
    animation-fill-mode: backwards;

    &::after {
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.5s;
    }

    &:hover::after {
      transform: scaleX(1.2) scaleY(1.5);
      opacity: 0;
    }
  }
}