.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: $grey-color;
    height: 50rem;
    width: 100%;
    height: 50rem;
    box-shadow: 0 1rem 2rem rgba($black-color, 0.8);
    border-radius: 3px;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;

    &--front {
      background-color: $white-color;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $primary-color, $primary-color-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $tertiary-color, $tertiary-color-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__photo {
    background-size: cover;
    background-position: left bottom;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-dark), url(../img/tour2.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $primary-color, $primary-color-dark), url(../img/tour1.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $tertiary-color, $tertiary-color-dark), url(../img/tour3.jpg);
    }
  }

  &__heading {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $white-color;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 75%;
    text-align: right;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($secondary-color, .85), rgba($secondary-color-dark, .85))
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($primary-color, .85), rgba($primary-color-dark, .85))
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($tertiary-color, .85), rgba($tertiary-color-dark, .85))
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 2px solid $light-grey-1-color;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $white-color;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.6rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 300;
  }
}