.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .5);
    position: absolute;
    transition: all .3s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 12rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($black-color, 1);
      outline: .7rem solid $primary-color;
      z-index: 1;
    }
  }
}