.header-secondary {
  // display: inline-block;
  font-size: 2.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skew(10deg, 2deg);
    text-shadow: .5rem 1rem 2rem rgba($black-color, .3);
  }
}