body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: $grey-color;
}

.header {
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo-img {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    color: $white-color;
    text-transform: uppercase;
    backface-visibility: hidden; //usuwa shake effect po animacji
    margin-bottom: 6rem;

    &--main {
      display: block; // dzięki temu napisy ułożą się pod sobą
      margin-bottom: 1rem;
      font-size: 4rem;
      letter-spacing: 2.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      // animation-iteration-count: 3;
      // animation-delay: 1s;
    }

    &--sub {
      display: block; // dzięki temu napisy ułożą się pod sobą
      font-size: 2rem;
      letter-spacing: 1.7rem;
      animation: moveInRight 1s ease-in-out;
    }
  }

  &__btn {
    background-color: $white-color;
    color: $grey-color;
    animation: moveInBottom .5s ease-in-out .5s;
    animation-fill-mode: backwards;

    &::after {
      background-color: $white-color;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.5s;
    }

    &:hover::after {
      transform: scaleX(1.2) scaleY(1.5);
      opacity: 0;
    }
  }
}

.about {
  &__title {
    // display: inline-block;
    font-size: 2.2rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
      transform: skew(10deg, 2deg);
      text-shadow: .5rem 1rem 2rem rgba($black-color, .3);
    }
  }

  &__content {
    &-header {
      font-size: $default-font-size;
      text-transform: uppercase;
    }

    &-text {
      font-size: $default-font-size;
      margin-bottom: 3rem;
    }
  }

  &__btn {

    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $primary-color;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $primary-color;
      padding: 3px 5px;
    }

    &:hover {
      background-color: $primary-color;
      color: $white-color;
      box-shadow: 0 1rem 2rem rgba($black-color, .15);
      transform: translateY(-1px);
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($black-color, .15);
      transform: translateY(0);
    }
  }
}