.about {
  background-color: $light-grey-1-color;
  padding: 28rem 2rem 50rem;
  margin-top: -13vh;
  display: grid;
  align-items: center;
  justify-items: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gap;
    max-width: $grid-width;
  }

  &__title {
    grid-column: 1/3;
  }

  &__content {
    grid-column: 1/2
  }

  &__picture {
    grid-column: 2/4;
  }
}