.footer {
  background-color: $black-color;
  padding: 10rem 2rem 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.4rem;
  color: $light-grey-1-color;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gap;
    width: 100%;
    max-width: $grid-width;
  }

  &__logo-box {
    grid-column: 1/3;
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    grid-column: 1/2;
    border-top: 1px solid $dark-grey-color;
    padding-top: 1rem;
    display: inline-block;
  }

  &__copy {
    grid-column: 2/3;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $light-grey-1-color;
      background-color: $black-color;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $primary-color;
      box-shadow: 0 1rem 2rem rgba(#000000, .4);
      transform: rotate(1deg) scale(1.2);
    }
  }

  &__copyright {
    border-top: 1px solid $dark-grey-color;
    padding-top: 1rem;
    display: inline-block;
  }
}