.header {
  height: 98vh;
  background-image: linear-gradient(to right bottom,
      rgba($primary-color, 0.75),
      rgba($primary-color-dark, 0.8)),
    url(../img/img1.jpg);
  background-size: cover;
  background-position: left bottom; // obrazek będzie się trzymał lewego dołu
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); //Ucięcie części headera
  position: relative;
}