.tours {
  background-color: $light-grey-1-color;
  padding: 25rem 2rem 15rem;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: -12rem;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $grid-gap;
    width: 100%;
    max-width: $grid-width;
  }

  .header-secondary {
    grid-column: 1/4;
  }

  &__btn {
    grid-column: 2/3;
  }
}